*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1{
	color:  #776E65;
	font-size: 4em;
	text-align: center;
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 15px;
}
.newGame {
    color: #EEE4DA;
    background-color: #776E65;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 910px;
    position: relative;
    top: 10px;
}
i:hover{
	cursor: pointer;
	color: white;
}
.info{
	color: #EEE4DA;
	background-color:#776E65; 
	padding: 10px;
	border-radius: 3px;
	margin-right: 5px;
	text-align: center;
}
#new:hover{
	background-color: #CDC1B4;
	cursor: pointer;
}
#menu{
	width: 600px;
	margin: auto;
	text-align: center;
}
#container{
	height: 790px;
	width: 812px;
	margin: auto;
	margin-top: 30px;
	border: 8px solid #bbada0;
	border-radius: 1%;
	background-color: #bbada0;
}
#win{
	position: relative;
	top: 15px;
	display: none;
}
#lost{
	position: relative;
	top: 15px;
	display: none;
}
.case{
	padding: 0px;
	margin-bottom: -3px;
	background-color: #CDC1B4;
	color: #776E65;
	height: 100px;
	width: 100px;
	border: 8px solid #bbada0;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	line-height: 106.25px;
	font-size: 3em;
	font-weight: bold;
	vertical-align: top;
	cursor: pointer;
}
.destroyed{
	background-color: #FAF8EF;
}
.case:hover{
	background-color: rgb(235, 151, 78);
}
#taille{
	margin-left: 5px;
}
.caseFilled{
	background-color: #FE3D3E;
}
body{
	background-color: #FAF8EF;
	font-family: Helvetica, Arial, sans-serif;
}
.player1{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: transparent;
}
.player2{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: transparent;
}
.token1, .token2{
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 50%;
	z-index: 9;
	transition: all 0.5s;
}
.token1{
	background-color: rgb(150, 40, 27);
}
.token2{
	background-color: rgb(68,108,179);
}
#p1{
	background-color: rgb(150, 40, 27);
	padding: 5px;
	border-radius: 10%;
}
#p2{
	background-color: rgb(68,108,179);
	padding: 5px;
	border-radius: 10%;
}
.playable1{
	background-color: rgba(150, 40, 27, 0.5);
}
.playable2{
	background-color: rgba(68,108,179, 0.5);
}
.element1{
	background-image: url('lavagif.gif');
}
.element2{
	background-image: url('watergif.gif');
	background-image: url('lavagif.gif');
}